# Este arquivo lista as dependências diretas do projeto.
# Quando alguém rodar "pip install -r requirements.txt", o pip instalará
# estas bibliotecas e quaisquer outras que elas necessitem para funcionar.

bottle==0.13.4     # Nosso micro-framework web.
passlib==1.7.4     # Para o hashing seguro de senhas.
bcrypt==4.1.3      # O algoritmo de hashing específico que o passlib usará.